.hero {
  background: url("../../images/hero-img.png") no-repeat;
  background-size: cover;
  min-height: 95vh;
}

.hero-content h1 {
  font-weight: 800;
  padding-top: 20vh;
  width: 100%;
  font-size: 4em;
}
.hero-content p {
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 2vh;
  width: 100%;
}
.hero-content .btn{
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-primary{
    background: #00AFEF !important;
    border-color: #00AFEF !important;
}
.text-primary{
    color: #00AFEF !important;
}