.footer {
  background: #4d4c4c;
  width: 100%;
  padding-top: 5vh;
  min-height: 32vh;
}
.footer ul, .footer p{
  color: #fff;
}
.footer ul{
  list-style: none;
  padding-left:0;
}



.footer .icon, .footer li{
  cursor: pointer;
}
.footer-wrapper{
  margin: 0 10vh;
}

.contact p{
  width: 50%
}