@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
.training-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.445)),
    url("../../images/Vector.png");
  min-height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.training-hero h1,
.training-hero p {
  margin: auto;
  width: 80%;
  margin-top: 20px;
}

.training-hero p {
  padding-bottom: 8vh;
}
.training-content {
  margin: auto;
  padding-bottom: 10vh;
}
.what-title {
  font-size: 3em;
}
.word-container {
  margin: auto;
}

.word-container p {
  width: 80%;
}
.register-button {
  margin: 0 auto;
  padding-bottom: 10vh;
}
.btn-close {
  color: #00afef !important;
}

.form-input,
select {
  width: 100%;
  margin-top: 15px;
  height: 60px;
  border: 3px solid #00afef;
  border-radius: 7px;
  color: #a3a2a2;
}
.form-input:focus {
  border: 3px solid #00afef;
}
::placeholder {
  color: #a3a2a2;
  margin-right: 5px;
}
.modal-body p {
  font-size: 1.2em;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .training-hero h1,
  .training-content h1,
  .training-content p,
  .training-hero p {
    text-align: left !important;
    width: 100%;
  }
  .what-title {
    font-size: 2em;
    margin-bottom: -40px !important;
  }
}
