.training-hero {
  background: url("../../images/Vector.png");
  min-height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30vh;
  padding-bottom: 30vh;
  width: 100%;
}
.training-hero h1,
.training-hero p {
  margin: auto;
  margin-top: 2vh;
}

.training-hero h1 {
  font-weight: 800;
}
.training-hero p {
  font-weight: 500;
  padding-bottom: 8vh;
}
.training-content {

  font-weight: 700;
  margin: auto;
  padding-bottom: 10vh;
}
.what-title {
  font-weight: 900;
  font-size: 3em;
}
.word-container {
  margin: auto;
  font-weight: 700;
}
.word-container h4 {
  font-weight: 900;

}
.word-container p {
  width: 80%;
}
.register-button {
  margin: 0 auto;
  padding-bottom: 10vh;
}
.btn-close {
  color: #00afef !important;
}

.form-input,
select {
  width: 100%;
  margin-top: 2vh;
  height: 5vh;
  border: 3px solid #00afef;
  border-radius: 7px;
  color: #a3a2a2;
}
::placeholder {
  color: #a3a2a2;
  margin-right: 5px;
}
.modal-body p{
  font-weight: 400;
  font-size: 1.2em;

}